{% extends 'base.html' %}
{% load static %}

{% block content %}

<div style="padding: 50px 50px 50px 50px; text-align: center;">
    <h2>Create Catatan Pengajuan</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="informasi">Catatan Pengajuan: </label>
        <input type="text" id="informasi" name="informasi"><br>

        <input type="submit" value="VERIFIKASI">
    </form>
</div>

{% endblock content %}

{% block js %}
{% endblock js %}