{% include 'navbar.html'%}
{% load static %}

{% block content %}

<style>
    th {
        padding: 10px 10px 10px 10px;
    }
</style>

<div style="padding: 50px 50px 50px 50px; text-align: center;">
    <h2>Penggalangan Dana</h2><br>
    <table>
        <tr>
            <th>ID</th>
            <th>Judul</th>
            <th>Kota</th>
            <th>Provinsi</th>
            <th>Tanggal Aktif Awal</th>
            <th>Deadline</th>
            <th>Sisa Hari</th>
            <th>Target Dana</th>
            <th>Kategori</th>
            <th>Status Verifikasi</th>
            <th>Action</th>
        </tr>
        {% if penggalangan_dana %}
            {% for pd in penggalangan_dana %}
                <tr>
                    <td>
                        {{ pd.id }}
                    </td>
                    <td>
                        {{ pd.judul }}
                    </td>
                    <td>
                        {{ pd.kota }}
                    </td>
                    <td>
                        {{ pd.provinsi }}
                    </td>
                    <td>
                        {{ pd.tanggal_aktif_awal }}
                    </td>
                    <td>
                        {{ pd.tanggal_aktif_akhir }}
                    </td>
                    <td>
                        {{ pd.sisa_hari }}
                    </td>
                    <td>
                        {{ pd.jumlah_dibutuhkan }}
                    </td>
                    <td>
                        {{ pd.nama_kategori }}
                    </td>
                    <td>
                        {{ pd.status_verifikasi }}
                    </td>
                    <td>
                        <form action="read_penggalangan_user/{{ pd.id }}"><button>Detail</button>
                        <button>Donasi</button><br>
                        <button>Tambah ke Wishlist</button><br></form>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
</div>

{% endblock content %}

{% block js %}
{% endblock js %}