{% include 'navbar.html'%}
{% load static %}

{% block content %}

<style>
    th {
        padding: 10px 10px 10px 10px;
    }
</style>

<div style="padding: 50px 50px 50px 50px; text-align: center;">
    <h2>Catatan Pengajuan</h2><br>
    <table>
        <tr>
            <th>ID Penggalangan Dana</th>
            <th>Email Penggalang Dana</th>
            <th>Judul</th>
            <th>Deskripsi</th>
            <th>Kota</th>
            <th>Provinsi</th>
            <th>Deadline</th>
            <th>Jumlah Target Dana</th>
            <th>Informasi</th>
        </tr>
        <tr>
            <td>K-001</td>
            <td>hbavidge0@squidoo.com</td>
            <td>Ayo bantu Zulfahri menghadapi penyakit Demam Berdarahnya !</td>
            <td></td>
            <td>Bandung</td>
            <td>Jawa Barat</td>
            <td>7 Desember 2021</td>
            <td>Rp 1.000.000</td>
            <td>Sudah Lengkap</td>
        </tr>
        <tr>
            <td>R-001</td>
            <td>pwhiskin1@360.cn</td>
            <td>Bangun masjid untuk Desa Maju</td>
            <td></td>
            <td>Jakarta</td>
            <td>DKI Jakarta</td>
            <td>10 Desember 2021</td>
            <td>Rp 10.000.000</td>
            <td>Ada dokumen yang belum lengkap</td>
        </tr>
        {% if catatan_pengajuan %}
            {% for c in catatan_pengajuan %}
                <tr>
                    <td>{{ c.id }}</td>
                    <td>{{ c.email_user }}</td>
                    <td>{{ c.judul }}</td>
                    <td>{{ c.deskripsi }}</td>
                    <td>{{ c.kota }}</td>
                    <td>{{ c.provinsi }}</td>
                    <td>{{ c.tanggal_aktif_akhir }}</td>
                    <td>{{ c.jumlah_dibutuhkan }}</td>
                    <td>{{ c.informasi }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
</div>

{% endblock content %}

{% block js %}
{% endblock js %}