{% include 'navbar.html'%}
{% load static %}

{% block content %}

<style>
    td, th {
        padding-left: 20px;
        padding-right: 20px;
    }

    #all {
        padding: 50px 50px 50px 50px;
        margin: auto;
        width: 50%;
    }
</style>

<div id="all">
    <h2>Kategori Penggalangan Dana</h2><br>
    <table>
        <tr>
            <th>ID</th>
            <th>Nama Kategori</th>
            <th>Action</th>
        </tr>
        {% if kategori %}
            {% for k in kategori %}
                <tr>
                    <td>
                        {{ k.id }}
                    </td>
                    <td>
                        {{ k.nama_kategori }}
                    </td>
                    <td>
                        <form action="read_kategori/{{ k.id }}">
                            <input type="submit" value="Update" />
                        </form>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
</div>

{% endblock content %}

{% block js %}
{% endblock js %}