{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    input {
        margin: 10px 10px 10px 10px;
    }
</style>

<div style="padding: 50px 50px 50px 50px; text-align: center;">
    <h2>Update Penggalangan Dana</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="fieldWrapper">
            <label for="id">ID: </label>
            <input type="text" id="id" name="id" value="default" disabled><br>

            <label for="email">Email: </label>
            <input type="text" id="email" name="email" value="default" disabled><br>

            <label for="judul">Judul: </label>
            <input type="text" id="judul" name="judul"><br>

            <label for="deskripsi">Deskripsi: </label>
            <input type="text" id="deskripsi" name="deskripsi"><br>

            <label for="kota">kota: </label>
            <input type="text" id="kota" name="kota"><br>

            <label for="provinsi">provinsi: </label>
            <input type="text" id="provinsi" name="provinsi"><br>

            <label for="deadline">deadline: </label>
            <input type="date" id="deadline" name="deadline"><br>

            <label for="target">Jumlah target dana: </label>
            <input type="number" id="target" name="target"><br>

            <label for="status">Status Verifikasi: </label>
            <input type="text" id="status" name="status" disabled value="default"><br>

            <label for="verifikator">Diverifikasi Oleh: </label>
            <input type="text" id="verifikator" name="verifikator" disabled value="default"><br>

            <label for="kategori">Kategori: </label>
            <select name="kategori" id="kategori">
                <option value="default">default</option>
            </select><br>

            <label for="nosertif">nosertif: </label>
            <input type="text" id="nosertif" name="nosertif"><br>

            <label for="aktivitas">aktivitas: </label>
            <input type="text" id="aktivitas" name="aktivitas"><br>

            <label for="berkas">berkas: </label>
            <input type="text" id="berkas" name="berkas"><br>

            <label for="catatan">Catatan Pengajuan: </label>
            <input type="text" id="catatan" name="catatan" disabled value="default"><br>

        </div>
        <input type="submit" value="Submit">
    </form>
</div>

{% endblock content %}

{% block js %}
{% endblock js %}