{% include 'navbar.html'%}
{% load static %}

{% block content %}

<style>
    input {
        margin: 10px 10px 10px 10px;
    }
</style>

<div style="padding: 50px 50px 50px 50px; text-align: center;">
    <h2>Update Kategori</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="fieldWrapper">
            <label for="id">ID Kategori: </label>
            <input type="text" id="id" name="id" value="{{ id|safe }}" disabled><br>

            <label for="nama_kategori">Kategori: </label>
            <input type="text" id="nama_kategori" name="nama_kategori"><br>
        </div>
        <input type="submit" value="Submit">
    </form>
</div>

{% endblock content %}

{% block js %}
{% endblock js %}