{%extends 'base.html' %}
{%load static %}

  {% block content %}
  
  <form style=" padding-top:50px  " >
  <fieldset disabled>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Saldo Donapay</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=" 8090000 ">
   
  </div>
  
   <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Penggalang dana </label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=" Haddad ">
  
  </div>
  </fieldset>
  
   <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nominal</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    
  </div>
  
   <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Deskripsi</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  
  </div>
  
  

  <button type="submit" class="btn btn-primary">Cairkan Dana</button>
</form>
  
  
  {% endblock content %}


{% block js %}	
{% endblock js %}

