{%extends 'base.html' %}
{%load static %}

{% block content %}

<table class="table">
    <thead>
      <tr>
       
        <th scope="col">id</th>
        <th scope="col">nama kategori</th>

      </tr>
    </thead>

    <tbody>

        {%for row in res %}

      <tr>
        <td>{{row.id}}</td>
        <td>{{row.nama_kategori}}</td>
      </tr>
      {% endfor %}
     
    </tbody>
  </table>


{% endblock content %}



