{% extends 'base_pd.html' %}    

{% block content %}

<div class="container">
    <h2 class="text-center" style="padding: 40px;"><b>Form Pasien</b></h2>
    <form action="{% url 'penggalangan_dana:form_pd_kes' %}" method="POST">
        {% csrf_token %}
        <h5 style="margin-bottom: 20px;">Identitas Pasien</h5>
        <div class="form-group">
            <label for="nik">NIK</label>
            <input type="text" name="nik" class="form-control" placeholder="Masukkan NIK Pasien" required>
        </div>
        <div class="form-group">
            <label for="nama">Nama</label>
            <input type="text" name="nama" class="form-control" placeholder="Masukkan Nama Pasien" required>
        </div>
        <div class="form-group">
            <label for="tanggal_lahir">Tanggal Lahir</label>
            <input type="date" name="tanggal_lahir" class="form-control" placeholder="Masukkan Tanggal Lahir Pasien" required>
        </div>
        <div class="form-group">
            <label for="alamat">Alamat</label>
            <input type="text" name="alamat" class="form-control" placeholder="Masukkan Alamat Pasien" required>
        </div>
        <div class="form-group">
            <label for="pekerjaan">Pekerjaan</label>
            <input type="text" name="pekerjaan" class="form-control" placeholder="Masukkan Pekerjaan Pasien" required>
        </div>
        <div class="col text-center" style="margin-top:50px; margin-bottom: 100px;">
            <button id="buttonId" class="btn btn-primary" type="submit">Next</button>
            <!-- <a type="button" class="btn btn-primary justify-content-center" href="{% url 'penggalangan_dana:form_pd' %}">Next</a> -->
        </div>
    
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>


<!-- <script type = "text/javascript" language = "javascript">
 jQuery(document).ready(function() {
    jQuery("#buttonId").click(function() {
        if ($("#form-id").valid()){
            console.log("valid")
            window.location = window.location = "/penggalangan_dana/form-pd/";
        }
        
    });
 });
</script> -->

{% endblock content %}
