{% extends 'base_pd.html' %}    

{% block content %}

<div class="container">
    <h2 class="text-center" style="padding: 40px;"><b>Form Rumah Ibadah</b></h2>
    <form action="{% url 'penggalangan_dana:form_pd_rumahibadah' %}" method="POST">
        {% csrf_token %}
        <h5 style="margin-bottom: 20px;">Informasi Rumah Ibadah</h5>
        <div class="form-group">
            <label for="">Nomor Sertifikat</label>
            <input type="text" name="no_serti" class="form-control" placeholder="Masukkan Nomor Sertifikat Rumah Ibadah" required>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Nama</label>
            <input type="text" name="nama-ri" class="form-control"placeholder="Masukkan Nama Rumah Ibadah" required>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Alamat</label>
            <input type="text" name="alamat" class="form-control"placeholder="Masukkan Alamat Rumah Ibadah" required>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Jenis</label>
            <input type="text" name="jenis" class="form-control"placeholder="Masukkan Jenis Rumah Ibadah" required>
        </div>
        <div class="col text-center" style="margin-top:50px; margin-bottom: 100px;">
            <button id="buttonId" class="btn btn-primary" type="submit" href="{% url 'penggalangan_dana:form_pd' %}">Next</button>
            <!-- <a type="button" class="btn btn-primary justify-content-center" href="{% url 'penggalangan_dana:form_pd' %}">Next</a> -->
        </div>
        <!-- <input type="submit" class="btn btn-primary justify-content-center" href="{% url 'penggalangan_dana:form_pd' %}"> -->
    </form>
</div>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

<script type = "text/javascript" language = "javascript">
 jQuery(document).ready(function() {
    jQuery("#buttonId").click(function() {
        window.location = window.location = "/penggalangan_dana/form-pd/";;
    
    });
 });
</script> -->

{% endblock content %}
