{% extends 'base_pd.html' %}    

{% block content %}

<div class="container">
    <h2 class="text-center" style="padding: 40px;"><b>Halaman Daftar Penggalangan Dana Pribadi (POV Penggalang Dana)</b></h2>
    <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Judul</th>
            <th scope="col">Kota</th>
            <th scope="col">Prov</th>
            <th scope="col">Tanggal Aktif Awal</th>
            <th scope="col">Deadline</th>
            <th scope="col">Sisa Hari</th>
            <th scope="col">Target Dana</th>
            <th scope="col">Kategori</th>
            <th scope="col">Status Verifikasi</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">K-001</th>
            <td>Ayo bantu Zulfahri menghadapi penyakit Demam Berdarahnya!</td>
            <td>Bandung</td>
            <td>Jawa Barat</td>
            <td>15 November 2021</td>
            <td>7 Desember 2021</td>
            <td>20 hari</td>
            <td>Rp 1.000.000,-</td>
            <td>Kesehatan</td>
            <td>Sudah Terverifikasi</td>
            <td>
                <!-- <button id="detail-btn" type="button" class="" style="margin-bottom: 20px;">Detail</button> -->
                <a type="button" class="btn btn-primary" style="margin-bottom: 20px;" href="{% url 'penggalangan_dana:detail_pd' %}">Detail</a>
                <!-- <button type="button" class="btn btn-success" style="margin-bottom: 20px;">Cairkan</button> -->
                <a type="button" class="btn btn-success" style="margin-bottom: 20px;" href="/trigger5/pencairan">Cairkan</a>
            </td>
          </tr>
          <tr>
            <th scope="row">R-001</th>
            <td>Bangun masjid untuk Desa Maju</td>
            <td>Jakarta</td>
            <td>DKI Jakarta</td>
            <td></td>
            <td>10 Desember 2021</td>
            <td></td>
            <td>Rp 10.000.000,-</td>
            <td>Rumah Ibadah</td>
            <td>Belum Terverifikasi</td>
            <td>
                <!-- <button id="detail-btn" type="button" class="btn btn-primary" style="margin-bottom: 20px;">Detail</button> -->
                <a type="button" class="btn btn-primary" style="margin-bottom: 20px;" href="{% url 'penggalangan_dana:detail_pd' %}">Detail</a>
                <button type="button" class="btn btn-danger" style="margin-bottom: 20px;">Delete</button>
            </td>
          </tr>
        </tbody>
        </table>
        <p style="font-weight: bold;">Jumlah Penggalangan Dana: 2</p>
        <p style="font-weight: bold;">Jumlah Penggalangan Dana Aktif: 1</p>
</div>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

<script type = "text/javascript" language = "javascript">
 jQuery(document).ready(function() {
    jQuery("#detail-btn").click(function() {
        window.location = window.location = "/penggalangan_dana/detail-pd";;
    
    });
 });
</script> -->

{% endblock content %}