{% extends 'base_pd.html' %}    

{% block content %}

<div class="container">
    <h2 class="text-center" style="padding: 40px;"><b>Detail Penggalangan Dana: nama_PD</b></h2>
    <form>
        <h5 style="margin-bottom: 20px;">Informasi Umum Penggalangan Dana</h5>
        <div class="form-group">
            <label for="">ID Penggalangan Dana</label>
            <input type="text" class="form-control" placeholder="K-001" disabled>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email Penggalang Dana</label>
            <input type="text" class="form-control"placeholder="hskey5@newsvine.com" disabled>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Judul</label>
            <input type="date" class="form-control"placeholder="Make Believe" disabled>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Deskripsi</label>
            <input type="text" class="form-control"placeholder="Documentary" disabled>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Kota</label>
            <input type="text" class="form-control"placeholder="Vostochnyy" disabled>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Provinsi</label>
            <input type="text" class="form-control"placeholder="British Columbia" disabled>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Deadline Penggalangan Dana</label>
            <input type="date" class="form-control"placeholder="30 September 2021" disabled>
        </div>
        <div class="form-group" style="margin-bottom: 50px;">
            <label for="exampleInputEmail1">Jumlah Target Dana (Rupiah)</label>
            <input type="text" class="form-control"placeholder="Rp 710.000,-" disabled>
        </div>
        
        <h5 style="margin-bottom: 20px;">Informasi Tambahan Penggalangan Dana</h5>
        <div class="form-group">
            <label for="">Kategori</label>
            <input type="text" class="form-control" placeholder="Kesehatan" disabled>
        </div>
        <div class="form-group">
            <label for="">NIK Pasien</label>
            <input type="text" class="form-control" placeholder="320107474" disabled>
        </div>
        <div class="form-group">
            <label for="">Nama Pasien</label>
            <input type="text" class="form-control" placeholder="Dian" disabled>
        </div>
        <div class="form-group">
            <label for="">Nomor Sertifikat Rumah Ibadah</label>
            <input type="text" class="form-control" placeholder="RI-06" disabled>
        </div>
        <div class="form-group">
            <label for="">Kategori Aktivitas</label>
            <input type="text" class="form-control" placeholder="Belajar" disabled>
        </div>
        <div class="form-group">
            <label for="">Berkas Penggalangan Dana</label>
            <input type="text" class="form-control" placeholder="https://dropbox.com" disabled>
        </div>
        <div class="form-group">
            <label for="">Catatan Pengajuan</label>
            <input type="text" class="form-control" placeholder="" disabled>
        </div>
        <div class="form-group">
            <label for="">Jumlah Terkumpul</label>
            <input type="text" class="form-control" placeholder="Rp 470.000,-" disabled>
        </div>
        <h5 style="font-weight: bold;">Donatur</h5>
        <table class="table text-center">
            <thead class="thead-light">
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Timestamp</th>
                <th scope="col">Nominal</th>
                <th scope="col">Doa</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                </tr>
            </tbody>
        </table>
        <div class="form-group">
            <label for="">Jumlah Terpakai</label>
            <input type="text" class="form-control" placeholder="Rp 200.000,-" disabled>
        </div>
        <h5">Rincian Penggunaan</h5>
        <table class="table text-center">
            <thead class="thead-light">
            <tr>
                <th scope="col">Waktu</th>
                <th scope="col">Nominal</th>
                <th scope="col">Deskripsi</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                </tr>
            </tbody>
        </table>

        <div class="col text-center" style="padding: 30px;">
            <button id="buttonId" class="btn btn-primary" type="button">Cancel</button>
        </div>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

<script type = "text/javascript" language = "javascript">
 jQuery(document).ready(function() {
    jQuery("#buttonId").click(function() {
        window.location = window.location = "/penggalangan_dana/form-pd/daftar-pd-pribadi";
    });
 });
</script>

{% endblock content %}
