{% extends 'base_pd.html' %}

{% block content %}

<div class="container">
    <h2 class="text-center" style="padding: 40px;"><b>Form Rumah Ibadah</b></h2>
    <form>
        <h5 style="margin-bottom: 20px;">Apakah ingin memasukkan data rumah ibadah baru?</h5>
        <div class="form-group">
        <!-- <label for="e">Apakah ingin memasukkan data pasien baru?</label> -->
        <select id = "opsi" class="custom-select" style="margin-bottom: 20px;">
            <option selected>Pilih Opsi</option>
            <option value="1">Ya</option>
            <option value="2">Tidak</option>
          </select>
        <!-- <a id="buttonId" class="btn btn-primary btn-lg active d-flex justify-content-center" role="button" aria-pressed="true">Next</a> -->
        </div>
        <div class="col text-center" style="margin-top:50px; margin-bottom: 100px;">
            <button id="buttonId" class="btn btn-primary" type="button">Next</button>
        </div>
    
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

<script type = "text/javascript" language = "javascript">
 jQuery(document).ready(function() {
    jQuery("#buttonId").click(function() {
        var category_value = $('#opsi').val();
        // var category_name = $('#opsi :selected').text();
        console.log(category_value); 
        if (category_value == 1){
            window.location = "/penggalangan_dana/form-rumah_ibadah/baru"
        } else {
            if (category_value != "Pilih Opsi"){
                window.location = "/penggalangan_dana/form-rumah_ibadah/tidak-baru"
            } else {
                alert("Pilih Opsi yang valid!")
            }
        }
    });
 });
</script>

{% endblock content %}
