{% extends 'base_pd.html' %}

{% block content %}

<div class="container">
    <h2 class="text-center" style="padding: 40px;"><b>Form Kategori Penggalangan Dana</b></h2>
    <form>
        <h5 style="margin-bottom: 20px;">Kategori Penggalangan Dana</h5>
        <div class="form-group">
        <label for="">Kategori:</label>
        <select id = "kategori" class="custom-select" style="margin-bottom: 20px;">
            <option selected>Pilih Kategori</option>
            {% for kategori in categories %}
                <option value={{kategori.nama_kategori}}>{{kategori.nama_kategori}}</option>
            {% endfor %}
        </select>
        <!-- <a id="buttonId" class="btn btn-primary btn-lg active d-flex justify-content-center" role="button" aria-pressed="true">Next</a> -->
        </div>
        <div class="col text-center" style="margin-top:50px; margin-bottom: 100px;">
            <button id="buttonId" class="btn btn-primary" type="button">Next</button>
        </div>

    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

<script type = "text/javascript" language = "javascript">
 jQuery(document).ready(function() {
    jQuery("#buttonId").click(function() {
        var category_value = $('#kategori').val();
        var category_name = $('#kategori :selected').text();
        console.log(category_value); 
        if (category_name == 'kesehatan'){
            window.location = "/penggalangan_dana/form-kesehatan/";
        } else if (category_name == 'rumah ibadah'){
            window.location = "/penggalangan_dana/form-rumah_ibadah/";
        }
        else {
            if (category_value != 'Pilih Kategori'){
                window.location = "/penggalangan_dana/form-pd/";
            } else {
                alert("Pilih kategori yang valid!")
            }
        }
    });
 });
</script>

{% endblock content %}
