{% extends 'base_pd.html' %}    

{% block content %}

<div class="container">
    <h2 class="text-center" style="padding: 40px;"><b>Form Penggalangan Dana</b></h2>
    <form action="{% url 'penggalangan_dana:daftar_pd_pribadi' %}" method="POST">
        {% csrf_token %}
        <h5 style="margin-bottom: 20px;">Informasi Umum Penggalangan Dana</h5>
        <div class="form-group">
            <label for="">ID Penggalangan Dana</label>
            <input type="text" class="form-control" placeholder="RI-001" disabled>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email Penggalangan Dana</label>
            <input type="text" class="form-control"placeholder="hskey5@newsvine.com" disabled>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Judul</label>
            <input type="text" class="form-control"placeholder="Masukkan Judul Penggalangan Dana" required>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Deskripsi</label>
            <input type="text" class="form-control"placeholder="Masukkan Deskripsi Penggalangan Dana" required>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Kota</label>
            <input type="text" class="form-control"placeholder="Masukkan Kota Penggalangan Dana" required>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Provinsi</label>
            <input type="text" class="form-control"placeholder="Masukkan Provinsi Penggalangan Dana" required>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Deadline Penggalangan Dana</label>
            <input type="date" class="form-control"placeholder="Masukkan Deadline Penggalangan Dana" required>
        </div>
        <div class="form-group" style="margin-bottom: 50px;">
            <label for="exampleInputEmail1">Jumlah Target Dana (Rupiah)</label>
            <input type="text" class="form-control"placeholder="Masukkan Jumlah Target Dana Penggalangan Dana" required>
        </div>
        
        <h5 style="margin-bottom: 20px;">Informasi Tambahan Penggalangan Dana</h5>
        <div class="form-group">
            <label for="">Kategori</label>
            <input type="text" class="form-control" placeholder="Rumah Ibadah" disabled>
        </div>
        <div class="form-group">
            <label for="">Nomor Sertifikat Rumah Ibadah</label>
            <input type="text" class="form-control" placeholder={{no_serti}} disabled>
        </div>
        <div class="form-group">
            <label for="e">Kategori Aktivitas</label>
            <select id = "kategori" class="custom-select" required>
                <option value="">Pilih Kategori</option>
                {% for kategori in kategori_ri %}
                    <option value={{kategori.nama}}>{{kategori.nama}}</option>

                {% endfor %}
                <!-- <option value="1">Belajar</option>
                <option value="2">Menyapu</option>
                <option value="3">Mengepel</option>
                <option value="4">Berdoa</option>
                <option value="5">Bersih-bersih</option> -->
              </select>
            <!-- <a id="buttonId" class="btn btn-primary btn-lg active d-flex justify-content-center" role="button" aria-pressed="true">Next</a> -->
        </div>
        <div class="form-group">
            <label for="">Berkas Penggalangan Dana</label>
            <input type="text" class="form-control" placeholder="Masukkan Link Berkas Penggalangan Dana" required>
        </div>
        <div class="col text-center" style="margin-top: 50px; margin-bottom: 100px;">
            <button id="buttonId" class="btn btn-primary" type="submit">CREATE</button>
            <!-- <a type="button" class="btn btn-primary justify-content-center" href="{% url 'penggalangan_dana:daftar_pd_pribadi' %}">CREATE</a> -->
        </div>
    </form>
</div>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

<script type = "text/javascript" language = "javascript">
 jQuery(document).ready(function() {
    jQuery("#buttonId").click(function() {
        window.location = window.location = "/penggalangan_dana/form-pd/daftar-pd-pribadi/";
    });
 });
</script> -->

{% endblock content %}
