{% extends 'base_pd.html' %}    

{% block content %}

<div class="container">
    <h2 class="text-center" style="padding: 40px;"><b>Cek Pasien yang Terdaftar</b></h2>
    <form action="{% url 'penggalangan_dana:form_pd_kes' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="">NIK Pasien</label>
            <input type="text" name="nik" class="form-control" placeholder="Masukkan NIK Pasien" required>
        </div>
        <div class="col text-center">
            <button id="buttonId" class="btn btn-primary" type="submit">Check</button>
        </div>

    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

<!-- <script type = "text/javascript" language = "javascript">
 jQuery(document).ready(function() {
    jQuery("#buttonId").click(function() {
        window.location = window.location = "/penggalangan_dana/form-pd/";;
    
    });
 });
</script> -->

{% endblock content %}
