{% include 'navbar.html'%}
{%load static%}


{% block content %}

<div style=" font-size: 50px;  ">



    {% if  hasil %}
    {% for row in hasil %}
    <p style="color: black;" > <b> ->  WELCOME TO SIDONA-19 </b> {{row.nama}} </p>
    {% endfor %}

    {% else %}
    
    <p style="color: black;" > <b> ->  WELCOME TO SIDONA-19 </b> <p style="color: red;"> ->please login / signup </p></p>
    {% endif %}
 
    
    


</div>

{% endblock content  %}
