{% extends 'base.html' %}

{% load static %}

{% block meta %}

<title>Sidona19 - Profil</title>

<!-- CSS Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<!-- CSS Handmade -->
<link href="{% static 'css/donasi_style.css' %}" rel="stylesheet"></link>

<!-- Buat jQuery & Ajax -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock meta %}



{% block content %}

<!-- Main Implementation -->
<div class="container-dim">

  <div class="d-flex flex-column container-dim">

  <h1 style="text-align: center; padding: 10px;"><b>Profil</b></h1>
  
  <div class="d-flex flex-column container-dim" style="width:900px; padding: 4px;">
    
    <form action="" method="POST">
    
      <div class="form-group" style="padding: 10px;">
       <label for='email' class="form-label">Email</label>
       <input id='email' class="form-control" type="text" placeholder="hbavidge0@squidoo.com" readonly>
      </div>
          
      <div class="form-group" style="padding: 10px;">
       <label for='timestamp' class="form-label">Nama</label>
       <input id='timestamp' class="form-control" type="text" placeholder="Sidona-A19" readonly>
      </div>

      <div class="form-group" style="padding: 10px;">
        <label for='judul' class="form-label">Nomor HP</label>
        <input id='judul' class="form-control" type="number" placeholder="081234567899" readonly>
      </div>
  
      <div class="form-group" style="padding: 10px;">
        <label for='nominal' class="form-label">Alamat</label>
        <input id='nominal' class="form-control" type="text" placeholder="Semarang, Jawa Tengah" readonly>
      </div>

      <div class="form-group" style="padding: 10px;">
        <label for='nominal' class="form-label">Nama Bank</label>
        <input id='nominal' class="form-control" type="text" placeholder="Bank Jago" readonly>
      </div>

      <div class="form-group" style="padding: 10px;">
        <label for='nominal' class="form-label">No Rekening</label>
        <input id='nominal' class="form-control" type="text" placeholder="4956 5377 8619 5336" readonly>
      </div>

      <div class="form-group" style="padding: 10px;">
        <label for='nominal' class="form-label">Jenis</label>
        <input id='nominal' class="form-control" type="text" placeholder="Individu" readonly>
      </div>

      <br><br>

      <!-- Jika jenisnya organisasi -->
      <!-- <div class="form-group" style="padding: 10px;">
        <label for='nominal' class="form-label">Nama Organisasi</label>
        <input id='nominal' class="form-control" type="text" placeholder="Basdat" readonly>
      </div>

      <div class="form-group" style="padding: 10px;">
        <label for='nominal' class="form-label">Nomor Akta Pendirian</label>
        <input id='nominal' class="form-control" type="text" placeholder="AAAA-1919-BBBB-2020" readonly>
      </div>

      <div class="form-group" style="padding: 10px;">
        <label for='nominal' class="form-label">No. Telepon Organisasi</label>
        <input id='nominal' class="form-control" type="number" placeholder="081234567891" readonly>
      </div>
      
      <div class="form-group" style="padding: 10px;">
        <label for='nominal' class="form-label">Tahun Berdiri</label>
        <input id='nominal' class="form-control" type="number" placeholder="2002" readonly>
      </div>

      <div class="form-group" style="padding: 10px;">
        <label for='nominal' class="form-label">Foto Akta Pendirian</label> <br>
        <a type="button" class="btn btn-secondary" style="width: 160px;" href="{% static 'images/dummy-id.jpg' %}" target="_blank">Lihat</a>
      </div> -->

      <!-- Jika jenisnya individu -->
      <div class="form-group" style="padding: 10px;">
        <label for='nominal' class="form-label">NIK</label>
        <input id='nominal' class="form-control" type="number" placeholder="3525010510930001" readonly>
      </div>

      <div class="form-group" style="padding: 10px;">
        <label for='nominal' class="form-label">Tanggal Lahir</label>
        <input id='nominal' class="form-control" type="text" placeholder="2002/01/01" readonly>
      </div>

      <div class="form-group" style="padding: 10px;">
        <label for='nominal' class="form-label">Jenis Kelamin</label>
        <input id='nominal' class="form-control" type="text" placeholder="Laki-laki" readonly>
      </div>
      
      <div class="form-group" style="padding: 10px;">
        <label for='nominal' class="form-label">Foto KTP</label> <br>
        <a type="button" class="btn btn-secondary" style="width: 160px;" href="{% static 'images/dummy-id.jpg' %}" target="_blank">Lihat</a>
      </div>

      <br><br>

      <!-- Buat Semua -->
      <div class="form-group" style="padding: 10px;">
        <label for='nominal' class="form-label">Saldo DonaPay</label>
        <input id='nominal' class="form-control" type="number" placeholder="0" readonly>
      </div>

      <br><br>

      <div class="form-group" style="padding: 10px;">
        <label for='nominal' class="form-label">Wishlist Donasi</label>
        <a type="button" class="btn btn-secondary" style="width: 280px; font-size: small;" href="{% url 'wishlist:index' %}">Lihat Wishlist Donasi di Halaman Tersendiri</a>
      </div>

      <div id="wishlist-profile"></div>

    <div class="container-dim">
      <div class="tombol" style="padding-bottom: 0% ;">
        <a type="button" class="btn btn-outline-primary" href="javascript:window.history.back();">Kembali</a>
      </div>
    </div>
            
    </form>
  </div>
  </div>
</div>

<script>
    $(document).ready(function(){
        $("#wishlist-profile").load("{% url 'wishlist:profile' %}");
    });
</script>
<!-- <script src="{% static 'js/agenda_script.js' %}"></script> -->
{% endblock content %}