{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Sistem Informasi Donasi</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <img class="wave" src="{% static 'img/wave.png'%}">
    <div class="container">
        <div class="img">
            <img src="{%static 'img/bg.svg' %}">
        </div>
        <div class="login-content">
            <form action="/register_admin" method='POST'>
                {%csrf_token%}
                <img src="{%static 'img/avatar.svg'%}">
                <h2 class="title">PENDAFTARAN ADMIN</h2>


                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Email</h5>
                        <input type="text" class="input" name="email">
                    </div>
                </div>


                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <h5>Password</h5>
                        <input type="password" class="input" name="password">
                    </div>
                </div>

                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Nama</h5>
                        <input type="text" class="input" name="nama">
                    </div>
                </div>


                <div class="input-div one">
                    <div class="i">
                            <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                            <h5>No HP</h5>
                            <input type="text" class="input" name="nomor_hp">
                    </div>
                 </div>





                <input type="submit" class="btn" value="Login">

            </form>



        </div>

    </div>
    <script type="text/javascript" src="{%static 'js/login.js'%}"></script>
</body>

</html>