{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Sistem Informasi DOnasi</title>
	<link rel="stylesheet"  href="{% static 'css/login.css' %}">
    
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img class="wave" src="{% static 'img/wave.png'%}">
	<div class="container">
		<div class="img">
			<img src="{%static 'img/bg.svg' %}">
		</div>
		<div class="login-content">
			<form action="/register2" method="POST">
				{%csrf_token%}
				<img src="{%static 'img/avatar.svg'%}">
				<h2 class="title">FORM REGISTER</h2>
           		
            
            	<button class="btn" name="role"  type="submit" value="ADMIN"> ADMIN </button>
				<button class="btn" name="role" type="submit" value="PENGGALANG_DANA"> PENGGALANG DANA </button>
				

            <form>
			
        </div>
		
    </div>
    <script type="text/javascript" src="{%static 'js/login.js'%}"></script>
</body>
</html>