.container-dim {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}

.wadah-card {
    margin: 4px;
    padding: 8px;
}

body {
    background-color: #E2E8F0;
}

th {
    text-align: center;
    background-color: #c7dfff;
}

/* .thead-dim tr th {
    background-color: #c7dfff;
} */

label {
    font-weight: 700;
}
  
.masthead {
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

#tulisan {
    margin-left: 20px;
}

#masuk {
    margin-top: 24px;
    margin-left: 20px;
}

.text-dim {
    height: 100px;
}

.tombol{
    margin-top: 2%;
    margin-bottom: 2%;
}

.tombol-column {
    display: flex;
    flex-direction: column;
}

.tombol-dim {
    margin: 2%;
    size: 18px;
}

.shadowy {
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}