{% load static %}

<!DOCTYPE html>
<div id="wishlist-profile">
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col" style="width: 10%;">ID</th>
          <th scope="col" style="width: 40%;">Judul</th>
          <th scope="col" style="width: 30%;">Kategori</th>
          <th scope="col" style="width: 20%;">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for row in wishlist %}
        <tr>
          <th scope="row">{{row.idpd}}</th>
          <td>{{row.judul}}</td>
          <td>{{row.nama_kategori}}</td>
          <td>
            <div class="tombol-column">
              <a type="button" class="btn btn-secondary tombol-dim" href="{% url 'penggalangan_dana:detail_pd' %}">Detail</a>
              <a type="button" class="btn btn-success tombol-dim" href="{% url 'donasi:form' %}">Donasi</a>
              <a type="button" class="btn btn-danger tombol-dim" href="{% url 'wishlist:index' %}">Hapus</a>
            </div>
          </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  
    <h6 style="text-align: left;">Jumlah Wishlist: {{jumlah}}</h6>
</div>
</html>