{% extends 'base.html' %}

{% load static %}

{% block meta %}

<title>Sidona19 - Daftar Wishlist</title>

<!-- CSS Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<!-- CSS Handmade -->
<link href="{% static 'css/donasi_style.css' %}" rel="stylesheet"></link>

<!-- Buat jQuery & Ajax -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock meta %}



{% block content %}

<!-- Untuk menampilkan navbar -->
<!-- {% include 'navbar.html'%} -->

<!-- Main Implementation -->
<div class="container-dim">
  <div class="card" style="width:900px; padding: 40px; border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
    
  <h1 style="text-align: center; padding-bottom: 40px;"><b>Wishlist Donasi</b></h1>
  
  <div id="wishlist-profile">
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col" style="width: 10%;">ID</th>
          <th scope="col" style="width: 40%;">Judul</th>
          <th scope="col" style="width: 30%;">Kategori</th>
          <th scope="col" style="width: 20%;">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for row in wishlist %}
        <tr>
          <th scope="row">{{row.idpd}}</th>
          <td>{{row.judul}}</td>
          <td>{{row.nama_kategori}}</td>
          <td>
            <div class="tombol-column">
              <a type="button" class="btn btn-secondary tombol-dim" href="{% url 'penggalangan_dana:detail_pd' %}">Detail</a>
              <a type="button" class="btn btn-success tombol-dim" href="{% url 'donasi:form' %}">Donasi</a>
              <a type="button" class="btn btn-danger tombol-dim" href="{% url 'wishlist:index' %}">Hapus</a>
            </div>
          </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  
    <h6 style="text-align: left;">Jumlah Wishlist: {{jumlah}}</h6>
  </div>

  <div class="container-dim">
    <div class="tombol">
      <a type="button" class="btn btn-outline-primary" href="javascript:window.history.back();" >Kembali</a>
    </div>
  </div>

  </div>
  </div>


<!-- <script src="{% static 'js/agenda_script.js' %}"></script> -->
{% endblock content %}