{% extends 'base_komorbid.html' %}

{% block content %}

<div class="container">
    <h2 class="text-center" style="padding: 40px;"><b>Form Penyakit Komorbid</b></h2>
    <form action="{% url 'penyakit_komorbid:index' %}" method="POST">
        {% csrf_token %}
        <h5 style="margin-bottom: 20px;">Informasi Penyakit Komorbid</h5>
        <div class="form-group">
        <label for="e">ID Penggalangan Dana</label>
        <select id = "kategori" class="custom-select" style="margin-bottom: 20px;" required>
            <option value="">Pilih ID Penggalangan Dana</option>
            <option value="1">K-001</option>
            <option value="2">K-002</option>
            <option value="3">K-003</option>
          </select>
        <!-- <a id="buttonId" class="btn btn-primary btn-lg active d-flex justify-content-center" role="button" aria-pressed="true">Next</a> -->
        </div>
        <div class="form-group">
            <label for="">Komorbid</label>
            <input type="text" class="form-control" placeholder="Masukkan Komorbid Pasien" required>
        </div>
        <!-- <button id="buttonId" class="btn btn-primary" type="button">CREATE</button> -->
        <div class="col text-center" style="margin-top: 50px; margin-bottom: 100px;">
            <button id="buttonId" class="btn btn-primary" type="submit">CREATE</button>
            <!-- <a type="button" class="btn btn-primary justify-content-center" href="{% url 'penyakit_komorbid:index' %}">CREATE</a> -->
        </div>
    
    </form>
</div>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

<script type = "text/javascript" language = "javascript">
 jQuery(document).ready(function() {
    jQuery("#buttonId").click(function() {
        window.location = "/penyakit_komorbid/";
    });
 });
</script> -->

{% endblock content %}
