<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Penyakit Komorbid</title>

    {% block head %}
    {% endblock head %}
</head>

<body>
    <!-- <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand">Penggalangan Dana</a>
        <form class="form-inline">
            <a class="nav-link" href="/penggalangan_dana/">Home</a>
            <a class="nav-link" href="/penggalangan_dana/add-pd/">Buat Penggalangan Dana</a>
        </form>
    </nav> -->

    {% include 'navbar.html'%}

    {% block content %}
    {% endblock content %}


</body>
</html>