{% extends 'base_komorbid.html' %}

{% block content %}

<div class="container">
    <h2 class="text-center" style="padding: 40px;"><b>Halaman Kelola Penyakit Komorbid</b></h2>
    <button id="add-btn" type="button" class="btn btn-info float-right" style="margin-bottom: 30px;">Tambah Penyakit Komorbid baru</button>
    <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Judul</th>
            <th scope="col">Penyakit Utama</th>
            <th scope="col">Penyakit Komorbid</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for data in komorbid %}
          <tr>
            <!-- <th scope="row">K-001</th>
            <td>Ayo bantu Zulfahri menghadapi penyakit Demam Berdarahnya!</td>
            <td>Demam Berdarah</td>
            <td>Pusing Kepala</td> -->
            <th scope="row">{{data.idpd}}</th>
            <td>{{data.judul}}!</td>
            <td>{{data.penyakit}}</td>
            <td>{{data.komorbid}}</td>
            <td>
                <button id="update-btn" type="button" class="btn btn-primary" style="margin-bottom: 20px;">Update</button><br/>
                <button type="button" class="btn btn-success" style="margin-bottom: 20px;">Cairkan</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
        </table>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

<script type = "text/javascript" language = "javascript">
 jQuery(document).ready(function() {
    jQuery("#update-btn").click(function() {
      window.location = window.location = "/penyakit_komorbid/update-komorbid";
    });
    jQuery("#add-btn").click(function() {
      window.location = window.location = "/penyakit_komorbid/add-form";
  });
 });
</script>

{% endblock content %}