{% extends 'base_komorbid.html' %}

{% block content %}

<div class="container">
    <h2 class="text-center" style="padding: 40px;"><b>Form Update Penyakit Komorbid</b></h2>
    <form>
        <h5 style="margin-bottom: 20px;">Informasi Penyakit Komorbid</h5>
        <div class="form-group">
            <label for="">ID Penggalangan Dana</label>
            <input type="text" class="form-control" placeholder="K-001" disabled>
        </div>
        <div class="form-group">
            <label for="">Nama Penyakit</label>
            <input type="text" class="form-control" placeholder="" value="Pusing Kepala">
        </div>
        <!-- <button id="buttonId" class="btn btn-primary" type="button">UPDATE</button> -->
        <div class="col text-center" style="margin-top: 50px; margin-bottom: 100px;">
            <!-- <button id="buttonId" class="btn btn-primary" type="button">CREATE</button> -->
            <a type="button" class="btn btn-primary justify-content-center" href="{% url 'penyakit_komorbid:index' %}">CREATE</a>
        </div>
    
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

<!-- <script type = "text/javascript" language = "javascript">
 jQuery(document).ready(function() {
    jQuery("#buttonId").click(function() {
        window.location = "/penyakit_komorbid/";
    });
 });
</script> -->

{% endblock content %}
