{%load static%}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid container">
   
    <a class="navbar-brand" href="#">SIDONA 19</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-lg-row justify-content-between" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
       




        {% if request.session.role %}
		<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Data Penggalang Dana
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Daftar Penggalangan Dana Pribadi</a></li>
         
         
          </ul>
        </li>
		
		<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Penggalang Dana
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'penggalangan_dana:add_pd' %}">Buat </a></li>
            <li><a class="dropdown-item" href="{% url 'trigger3:read_kategori' %}">Read Kategori </a></li>
            <li><a class="dropdown-item" href="{% url 'trigger3:create_kategori' %}">Create Kategori </a></li>
            <li><a class="dropdown-item" href="{% url 'trigger3:read_penggalangan_admin' %}">Read Penggalangan Dana - Admin</a></li>
            <li><a class="dropdown-item" href="{% url 'trigger3:read_penggalangan_user' %}">Read Penggalangan Dana - Pengguna</a></li>
            <li><a class="dropdown-item" href="{% url 'trigger3:read_catatan_pengajuan' %}">Read Catatan Pengajuan</a></li>
			<li><a class="dropdown-item" href="{% url 'penyakit_komorbid:index' %}">Kelola Penyakit Komorbid</a></li>
          </ul>
        </li>
	
		




		
		
		<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Donasi
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'donasi:index' %}">Daftar Donasi</a></li>
            
          </ul>
        </li>
		
		
			
		
		
		<li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Daftar Pengguna</a>
        </li>
        {% endif %}
      
      {% if  request.session.role == 'penggalang_dana' %}
		  <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'login:profile' %}">Profil</a>
        </li>
        {% endif %}
		
		
		
  
		
	  
      
      {% if hasil  %}

      <a href="/logout">
        <button type="button" class="btn btn-danger">Logout</button>
      </a>

      {% else %}
      <a href="/login">
        <button type="button" class="btn btn-success">Login</button>
      </a>
      <a href="register">
        <button type="button" class="btn btn-success">Signup</button>
         </a>

      {% endif %}
    
   
		
    </div>
  </div>
</nav>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>