{% extends 'base.html' %}

{% load static %}

{% block meta %}

<title>Sidona19 - Donasi</title>

<!-- Ikon di tab -->
<!-- <link rel="icon" href="/static/favicon.svg">
<link rel="mask-icon" href="/static/favicon.svg" color="#000000"> -->

<!-- CSS Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<!-- CSS Handmade -->
<link href="{% static 'css/donasi_style.css' %}" rel="stylesheet"></link>

<!-- Buat Navbar -->
<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"
integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->

<!-- Buat Ajax -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->

{% endblock meta %}



{% block content %}

<!-- Untuk menampilkan navbar -->
<!-- {% include 'navbar.html'%} -->

<!-- Main Implementation -->
<div class="container-dim">
  <div class="card" style="width:700px; border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">

  <h1 style="text-align: center; padding: 40px;"><b>Form Pembuatan Donasi</b></h1>
  
  <div class="d-flex flex-column container-dim" style="width:600px; padding: 4px;">

    <h3 style="text-align: center;">Informasi Umum Donasi</h3>
    
    <form action="" method="POST">
    <!-- {% csrf_token %} -->
    
    <div class="form-group" style="padding: 10px;">
      <label for='email' class="form-label">Email Donatur</label>
      <input id='email' class="form-control" type="text" placeholder="nama-email@aaa.com" readonly>
    </div>
          
    <div class="form-group" style="padding: 10px;">
      <label for='timestamp' class="form-label">Timestamp</label>
      <input id='timestamp' class="form-control" type="text" placeholder="23.55" readonly>
    </div>

    <div class="form-group" style="padding: 10px;">
      <label for='judul' class="form-label">Judul Penggalangan Dana</label>
      <input id='judul' class="form-control" type="text" placeholder="Bantu Kelompok A-19 Lulus Basdat" readonly>
    </div>
  
    <div class="form-group" style="padding: 10px;">
      <label for='nominal' class="form-label">Nominal (Rupiah)</label>
      <input id='nominal' class="form-control" type="number" placeholder="2000000">
    </div>

    <div id="bayar-anonim" class="row" style="padding: 10px;">
      <!-- <label for='tenggat' class="form-label" >Pembayaran</label> -->
      <div class="col form-group">
        <label for="payment">Metode Pembayaran</label>
        <select class="form-control" id="payment">
          <option>Transfer</option>
          <option>DonaPay</option>
        </select>
      </div>
      <div class="col form-group">
        <label for="status">Status Anonim</label>
        <select class="form-control" id="status">
          <option>Ya</option>
          <option>Tidak</option>
        </select>
      </div>
    </div>
          
    <div class="form-group" style="padding: 10px;">
      <label for='doa' class="form-label">Doa</label>
      <textarea class="form-control" id="doa" rows="3"></textarea>
    </div>
  
    <div class="container-dim">
      <div class="tombol">
        <!-- {% csrf_token %} -->
        <!-- <a type="button" class="btn btn-outline-danger" href="{% url 'donasi:index' %}" >Batal</a> -->
        <a type="button" class="btn btn-outline-danger" href="javascript:window.history.back();" >Batal</a>
        <input type="submit" class="btn btn-primary justify-content-center" value="Buat Donasi" href="{% url 'donasi:index' %}">
      </div>
    </div>
            
    </form>
  </div>
  </div>
</div>


<!-- <script src="{% static 'js/donasi_script.js' %}"></script> -->
{% endblock content %}