{% extends 'base.html' %}

{% load static %}

{% block meta %}

<title>Sidona19 - Detail Donasi</title>

<!-- CSS Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<!-- CSS Handmade -->
<link href="{% static 'css/donasi_style.css' %}" rel="stylesheet"></link>

<!-- Buat jQuery & Ajax -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock meta %}



{% block content %}

<!-- Main Implementation -->
<div class="container-dim">
  <div class="card" style="width:700px; border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">

  <h1 style="text-align: center; padding: 40px;"><b>Detail Donasi</b></h1>
  
  <div class="d-flex flex-column container-dim" style="width:600px; padding: 4px;">
    
    <form action="" method="POST">
    <!-- {% csrf_token %} -->
    
    <div class="form-group" style="padding: 10px;">
      <label for='email' class="form-label">Email Donatur</label>
      <input id='email' class="form-control" type="text" placeholder="hbavidge0@squidoo.com" readonly>
    </div>
          
    <div class="form-group" style="padding: 10px;">
      <label for='timestamp' class="form-label">Timestamp</label>
      <input id='timestamp' class="form-control" type="text" placeholder="23.55" readonly>
    </div>

    <div class="form-group" style="padding: 10px;">
      <label for='judul' class="form-label">Judul Penggalangan Dana</label>
      <input id='judul' class="form-control" type="text" placeholder="Bantu Kelompok A-19 Lulus Basdat" readonly>
    </div>
  
    <div class="form-group" style="padding: 10px;">
      <label for='nominal' class="form-label">Nominal (Rupiah)</label>
      <input id='nominal' class="form-control" type="number" placeholder="120000" readonly>
    </div>

    <div id="bayar-anonim" class="row" style="padding: 10px;">
      <div class="col form-group">
        <label for="payment">Metode Pembayaran</label>
        <input id='judul' class="form-control" type="text" placeholder="Transfer" readonly>
      </div>
      <div class="col form-group">
        <label for="status">Status Anonim</label>
        <input id='judul' class="form-control" type="text" placeholder="Tidak" readonly>
      </div>
    </div>
          
    <div class="form-group" style="padding: 10px;">
      <label for='doa' class="form-label">Doa</label>
      <textarea class="form-control" id="doa" rows="3" placeholder="smoga lulus amien" readonly></textarea>
    </div>
  
    <div class="container-dim">
      <div class="tombol">
        <a type="button" class="btn btn-outline-primary" href="javascript:window.history.back();" >Kembali</a>
      </div>
    </div>
            
    </form>
  </div>
  </div>
</div>


<!-- <script src="{% static 'js/agenda_script.js' %}"></script> -->
{% endblock content %}