{% extends 'base.html' %}

{% load static %}

{% block meta %}

<title>Sidona19 - Daftar Donasi</title>

<!-- CSS Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<!-- CSS Handmade -->
<link href="{% static 'css/donasi_style.css' %}" rel="stylesheet"></link>

<!-- Buat jQuery & Ajax -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock meta %}



{% block content %}

<!-- Main Implementation -->
<div class="container-dim">
  <div class="card" style="width:1200px; padding: 40px; border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
    
  <h1 style="text-align: center; padding-bottom: 40px;"><b>Data Donasi Penggalangan Dana</b></h1>
  
  <table id="tabelDonasi" class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col" style="width: 10%;">ID</th>
        <th scope="col" style="width: 30%;">Judul</th>
        <th scope="col" style="width: 20%;">Kategori</th>
        <th scope="col" style="width: 20%;">Status Pembayaran</th>
        <th scope="col" style="width: 20%;">Action</th>
      </tr>
    </thead>

    <tbody>
      {% for row in donasi %}
      <tr>
        <th scope="row">{{row.idpd}}</th>
        <td>{{row.judul}}</td>
        <td>{{row.nama_kategori}}</td>
        <td> <var id="status">{{row.status}}</var> </td>

        <td>
          <div id="tombolStatus" class="tombol-column">
            <!-- Default ada ini semua -->
            <a type="button" class="btn btn-secondary tombol-dim" href="{% url 'donasi:detail' %}">Detail</a>
            <!-- Menunggu pembayaran -->
            <a type="button" class="btn btn-primary tombol-dim" href="{% url 'donasi:bukti' %}">Upload Bukti</a>
            <!-- Pengecekan & Sukses -->
            <a type="button" class="btn btn-info tombol-dim" href="{% static 'images/dummy-tf.jpg' %}" target="_blank">Lihat Bukti</a>
            <!-- Dibatalkan -> hanya ada tombol detail -->

            
            <!-- <script>
              (function addAction() {
                var innerHTML = `<a type="button" class="btn btn-secondary tombol-dim" href="{% url 'donasi:detail' %}">Detail</a>`;
                var status = document.getElementById("status");
                if (status == "dibatalkan") {
                  // gausah ditambah apa2
                } else if (status == "sukses") {
                  innerHTML += `<a type="button" class="btn btn-info tombol-dim" href="{% static 'images/dummy-tf.jpg' %}" target="_blank">Lihat Bukti</a>`;
                } else {
                  innerHTML += `<a type="button" class="btn btn-primary tombol-dim" href="{% url 'donasi:bukti' %}">Upload Bukti</a> `;
                }
                document.getElementById("tombolStatus").innerHTML = innerHTML;
              })();
            </script> -->
            <!-- <script>addAction();</script> -->
            <!-- <a type="button" class="btn btn-secondary tombol-dim" href="{% url 'donasi:detail' %}">Detail</a>
            <a type="button" class="btn btn-primary tombol-dim" href="{% url 'donasi:bukti' %}">Upload Bukti</a> -->
            <!-- <form action="">
              <input type="file" class="btn btn-primary tombol-dim" value="Upload Bukti">
            </form> -->
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  </div>
  </div>

<script>
  (jQuery(function($) {
    $('#tabelDonasi').each(function() {
      var innerHTML = `<a type="button" class="btn btn-secondary tombol-dim" href="{% url 'donasi:detail' %}">Detail</a>`;
      var status = document.getElementById("status");
      if (status == "dibatalkan") {
        // gausah ditambah apa2
      } else if (status == "sukses") {
        innerHTML += `<a type="button" class="btn btn-info tombol-dim" href="{% static 'images/dummy-tf.jpg' %}" target="_blank">Lihat Bukti</a>`;
      } else {
        innerHTML += `<a type="button" class="btn btn-primary tombol-dim" href="{% url 'donasi:bukti' %}">Upload Bukti</a> `;
      }
      document.getElementById("tombolStatus").innerHTML = innerHTML;
    });
  }))();
  
  // jQuery(function($) {
  //   $('#tabelDonasi').each(function() {
  //     var innerHTML = `<a type="button" class="btn btn-secondary tombol-dim" href="{% url 'donasi:detail' %}">Detail</a>`;
  //     var status = document.getElementById("status");
  //     if (status == "dibatalkan") {
  //       // gausah ditambah apa2
  //     } else if (status == "sukses") {
  //       innerHTML += `<a type="button" class="btn btn-info tombol-dim" href="{% static 'images/dummy-tf.jpg' %}" target="_blank">Lihat Bukti</a>`;
  //     } else {
  //       innerHTML += `<a type="button" class="btn btn-primary tombol-dim" href="{% url 'donasi:bukti' %}">Upload Bukti</a> `;
  //     }
  //     document.getElementById("tombolStatus").innerHTML = innerHTML;
  //   });
  // })

  // function addAction(){
  //   var status = document.getElementById("status");
  //   if (status == "dibatalkan") {
  //     $("#tombolStatus").html(`
  //       <a type="button" class="btn btn-secondary tombol-dim" href="{% url 'donasi:detail' %}">Detail</a> `);
  //   } else if (status == "sukses") {
  //     $("#tombolStatus").html(`
  //       <a type="button" class="btn btn-secondary tombol-dim" href="{% url 'donasi:detail' %}">Detail</a>
  //       <a type="button" class="btn btn-info tombol-dim" href="{% static 'images/dummy-tf.jpg' %}" target="_blank">Lihat Bukti</a> `);
  //   } else {
  //     $("#tombolStatus").html(`
  //       <a type="button" class="btn btn-secondary tombol-dim" href="{% url 'donasi:detail' %}">Detail</a>
  //       <a type="button" class="btn btn-primary tombol-dim" href="{% url 'donasi:bukti' %}">Upload Bukti</a> `);
  //   }
  // };

  // function addAction(){
  //   var innerHTML = `<a type="button" class="btn btn-secondary tombol-dim" href="{% url 'donasi:detail' %}">Detail</a>`;
  //   var status = document.getElementById("status");
  //   if (status == "dibatalkan") {
  //     // gausah ditambah apa2
  //   } else if (status == "sukses") {
  //     innerHTML += `<a type="button" class="btn btn-info tombol-dim" href="{% static 'images/dummy-tf.jpg' %}" target="_blank">Lihat Bukti</a>`;
  //   } else {
  //     innerHTML += `<a type="button" class="btn btn-primary tombol-dim" href="{% url 'donasi:bukti' %}">Upload Bukti</a> `;
  //   }
  //   document.getElementById("tombolStatus").innerHTML = innerHTML;
  // };

  // document.addEventListener("DOMContentLoaded", function(event) {
  //   var innerHTML = `<a type="button" class="btn btn-secondary tombol-dim" href="{% url 'donasi:detail' %}">Detail</a>`;
  //   var status = document.getElementById("status");
  //   if (status == "dibatalkan") {
  //     // gausah ditambah apa2
  //   } else if (status == "sukses") {
  //     innerHTML += `<a type="button" class="btn btn-info tombol-dim" href="{% static 'images/dummy-tf.jpg' %}" target="_blank">Lihat Bukti</a>`;
  //   } else {
  //     innerHTML += `<a type="button" class="btn btn-primary tombol-dim" href="{% url 'donasi:bukti' %}">Upload Bukti</a> `;
  //   }
  //   document.getElementById("tombolStatus").innerHTML = innerHTML;
  // });

</script>
<!-- <script src="{% static 'js/agenda_script.js' %}"></script> -->
{% endblock content %}